@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-image: linear-gradient(to bottom, #000000, #3b141e, #731b2d, #ad2234, #e73131);
  overflow: hidden;
}

.page__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  min-height: 100vh;
  position: relative;
}

.centerpiece__container {
  margin: auto;
  display: grid;
  place-items: center;
}

h1 {
  margin: 0 auto;
}

.particleBin {
  display: flex;
  gap: 1.4em;
  justify-content: space-between;
}

.particle {
  width: 0.2rem;
  height: 1rem;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
}

.bottom:nth-child(1) {
  animation: particles 2.5s ease-in-out infinite;
}

.bottom:nth-child(2) {
  animation: particles 2.5s 0.2s ease-in-out infinite;
}

.bottom:nth-child(3) {
  animation: particles 2.5s 0.4s ease-in-out infinite;
}

.bottom:nth-child(4) {
  animation: particles 2.5s 0.6s ease-in-out infinite;
}

.bottom:nth-child(5) {
  animation: particles 2.5s 0.8s ease-in-out infinite;
}

.bottom:nth-child(6) {
  animation: particles 2.5s 1s ease-in-out infinite;
}

.bottom:nth-child(7) {
  animation: particles 2.5s 1.2s ease-in-out infinite;
}

.bottom:nth-child(8) {
  animation: particles 2.5s 1.4s ease-in-out infinite;
}

.bottom:nth-child(9) {
  animation: particles 2.5s 1.6s ease-in-out infinite;
}

.bottom:nth-child(10) {
  animation: particles 2.5s 1.8s ease-in-out infinite;
}

.bottom:nth-child(11) {
  animation: particles 2.5s 2s ease-in-out infinite;
}

.bottom:nth-child(12) {
  animation: particles 2.5s 2.2s ease-in-out infinite;
}

.bottom:nth-child(13) {
  animation: particles 2.5s 2.4s ease-in-out infinite;
}

.bottom:nth-child(14) {
  animation: particles 2.5s 2.6s ease-in-out infinite;
}

.bottom:nth-child(15) {
  animation: particles 2.5s 2.8s ease-in-out infinite;
}

.bottom:nth-child(16) {
  animation: particles 2.5s 3s ease-in-out infinite;
}

.bottom:nth-child(17) {
  animation: particles 2.5s 3.2s ease-in-out infinite;
}

.bottom:nth-child(18) {
  animation: particles 2.5s 3.4s ease-in-out infinite;
}

.bottom:nth-child(19) {
  animation: particles 2.5s 3.6s ease-in-out infinite;
}

.bottom:nth-child(20) {
  animation: particles 2.5s 3.8s ease-in-out infinite;
}

.bottom:nth-child(21) {
  animation: particles 2.5s 4s ease-in-out infinite;
}

.bottom:nth-child(22) {
  animation: particles 2.5s 4.2s ease-in-out infinite;
}

.bottom:nth-child(23) {
  animation: particles 2.5s 4.4s ease-in-out infinite;
}

.bottom:nth-child(24) {
  animation: particles 2.5s 4.6s ease-in-out infinite;
}

.bottom:nth-child(25) {
  animation: particles 2.5s 4.8s ease-in-out infinite;
}

.bottom:nth-child(26) {
  animation: particles 2.5s 5s ease-in-out infinite;
}

.top:nth-child(1) {
  animation: particles_reverse 2.5s ease-in-out infinite;
}

.top:nth-child(2) {
  animation: particles_reverse 2.5s 0.2s ease-in-out infinite;
}

.top:nth-child(3) {
  animation: particles_reverse 2.5s 0.4s ease-in-out infinite;
}

.top:nth-child(4) {
  animation: particles_reverse 2.5s 0.6s ease-in-out infinite;
}

.top:nth-child(5) {
  animation: particles_reverse 2.5s 0.8s ease-in-out infinite;
}

.top:nth-child(6) {
  animation: particles_reverse 2.5s 1s ease-in-out infinite;
}

.top:nth-child(7) {
  animation: particles_reverse 2.5s 1.2s ease-in-out infinite;
}

.top:nth-child(8) {
  animation: particles_reverse 2.5s 1.4s ease-in-out infinite;
}

.top:nth-child(9) {
  animation: particles_reverse 2.5s 1.6s ease-in-out infinite;
}

.top:nth-child(10) {
  animation: particles_reverse 2.5s 1.8s ease-in-out infinite;
}

.top:nth-child(11) {
  animation: particles_reverse 2.5s 2s ease-in-out infinite;
}

.top:nth-child(12) {
  animation: particles_reverse 2.5s 2.2s ease-in-out infinite;
}

.top:nth-child(13) {
  animation: particles_reverse 2.5s 2.4s ease-in-out infinite;
}

.top:nth-child(14) {
  animation: particles_reverse 2.5s 2.6s ease-in-out infinite;
}

.top:nth-child(15) {
  animation: particles_reverse 2.5s 2.8s ease-in-out infinite;
}

.top:nth-child(16) {
  animation: particles_reverse 2.5s 3s ease-in-out infinite;
}

.top:nth-child(17) {
  animation: particles_reverse 2.5s 3.2s ease-in-out infinite;
}

.top:nth-child(18) {
  animation: particles_reverse 2.5s 3.4s ease-in-out infinite;
}

.top:nth-child(19) {
  animation: particles_reverse 2.5s 3.6s ease-in-out infinite;
}

.top:nth-child(20) {
  animation: particles_reverse 2.5s 3.8s ease-in-out infinite;
}

.top:nth-child(21) {
  animation: particles_reverse 2.5s 4s ease-in-out infinite;
}

.top:nth-child(22) {
  animation: particles_reverse 2.5s 4.2s ease-in-out infinite;
}

.top:nth-child(23) {
  animation: particles_reverse 2.5s 4.4s ease-in-out infinite;
}

.top:nth-child(24) {
  animation: particles_reverse 2.5s 4.6s ease-in-out infinite;
}

.top:nth-child(25) {
  animation: particles_reverse 2.5s 4.8s ease-in-out infinite;
}

.top:nth-child(26) {
  animation: particles_reverse 2.5s 5s ease-in-out infinite;
}

.phone-up,
.tablet-landscape-up {
  display: none;
}

@keyframes particles {
  0% {
    transform: translateY(0%);
  }
  50% {
    opacity: 0.5;
    background-color: rgb(241, 118, 110);
  }
  100% {
    transform: translateY(-5000%);
    opacity: 0;
  }
}
@keyframes particles_reverse {
  0% {
    transform: translateY(0%);
  }
  50% {
    opacity: 0.5;
    background-color: rgb(241, 118, 110);
  }
  100% {
    transform: translateY(5000%);
    opacity: 0;
  }
}
@media (min-width: 600px) {
  .phone-up {
    display: block;
  }
}
@media (min-width: 900px) {
  .tablet-landscape-up {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
