@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

// || GRADIENT CLASSES

.default-gradient {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #3b141e,
    #731b2d,
    #ad2234,
    #e73131
  );
}

.blue-gradient {
  // background-image: linear-gradient(
  //   to top,
  //   #664beb,
  //   #5339c9,
  //   #4028a7,
  //   #2c1888,
  //   #180769
  // );
  background-image: linear-gradient(
    to top,
    #0239fd,
    #0072ff,
    #0097ff,
    #00b4fd,
    #0ccce9
  );
}

.green-gradient {
  background-image: linear-gradient(
    to top,
    #00ff85,
    #00c169,
    #00864c,
    #00502e,
    #011f11
  );
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  overflow: hidden;
}

.page__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  min-height: 100vh;
  position: relative;
}

.centerpiece__container {
  display: none;
}

.particleBin {
  // border: 1px solid #fff;
  display: flex;
  gap: 1.4em;
  justify-content: space-between;
  padding: 0 0.5em;
}

.particle {
  width: 0.3rem;
  height: 1rem; // pattern options: 0.4rem, 0.7rem,
  background-color: #fff;
  opacity: 0; // default value 0.6
  border-radius: 50%;
  animation-duration: 2.5s; // speed options: 0.5s, 2.5s, 4.5s, 6.5s, 8.5s
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bottom {
  animation-name: particles;
}

.top {
  animation-name: particles_reverse;
}

// || BOTTOM PARTICLES

.bottom:nth-child(2) {
  animation-delay: 0.2s;
}
.bottom:nth-child(3) {
  animation-delay: 0.4s;
}
.bottom:nth-child(4) {
  animation-delay: 0.6s;
}
.bottom:nth-child(5) {
  animation-delay: 0.8s;
}
.bottom:nth-child(6) {
  animation-delay: 1s;
}
.bottom:nth-child(7) {
  animation-delay: 1.2s;
}
.bottom:nth-child(8) {
  animation-delay: 1.4s;
}
.bottom:nth-child(9) {
  animation-delay: 1.6s;
}
.bottom:nth-child(10) {
  animation-delay: 1.8s;
}
.bottom:nth-child(11) {
  animation-delay: 2s;
}
.bottom:nth-child(12) {
  animation-delay: 2.2s;
}

// particles phone-up
.bottom:nth-child(13) {
  animation-delay: 2.4s;
}
.bottom:nth-child(14) {
  animation-delay: 2.6s;
}
.bottom:nth-child(15) {
  animation-delay: 2.8s;
}
.bottom:nth-child(16) {
  animation-delay: 3s;
}
.bottom:nth-child(17) {
  animation-delay: 3.2s;
}
.bottom:nth-child(18) {
  animation-delay: 3.4s;
}
.bottom:nth-child(19) {
  animation-delay: 3.6s;
}

// particles tablet-landscape-up
.bottom:nth-child(20) {
  animation-delay: 3.8s;
}
.bottom:nth-child(21) {
  animation-delay: 4s;
}
.bottom:nth-child(22) {
  animation-delay: 4.2s;
}
.bottom:nth-child(23) {
  animation-delay: 4.4s;
}
.bottom:nth-child(24) {
  animation-delay: 4.6s;
}
.bottom:nth-child(25) {
  animation-delay: 4.8s;
}
.bottom:nth-child(26) {
  animation-delay: 5s;
}

// || TOP PARTICLES

.top:nth-child(2) {
  animation-delay: 0.2s;
}
.top:nth-child(3) {
  animation-delay: 0.4s;
}
.top:nth-child(4) {
  animation-delay: 0.6s;
}
.top:nth-child(5) {
  animation-delay: 0.8s;
}
.top:nth-child(6) {
  animation-delay: 1s;
}
.top:nth-child(7) {
  animation-delay: 1.2s;
}
.top:nth-child(8) {
  animation-delay: 1.4s;
}
.top:nth-child(9) {
  animation-delay: 1.6s;
}
.top:nth-child(10) {
  animation-delay: 1.8s;
}
.top:nth-child(11) {
  animation-delay: 2s;
}
.top:nth-child(12) {
  animation-delay: 2.2s;
}

// particles_reverse phone-up
.top:nth-child(13) {
  animation-delay: 2.4s;
}
.top:nth-child(14) {
  animation-delay: 2.6s;
}
.top:nth-child(15) {
  animation-delay: 2.8s;
}
.top:nth-child(16) {
  animation-delay: 3s;
}
.top:nth-child(17) {
  animation-delay: 3.2s;
}
.top:nth-child(18) {
  animation-delay: 3.4s;
}
.top:nth-child(19) {
  animation-delay: 3.6s;
}

// particles_reverse tablet-landscape-up
.top:nth-child(20) {
  animation-delay: 3.8s;
}
.top:nth-child(21) {
  animation-delay: 4s;
}
.top:nth-child(22) {
  animation-delay: 4.2s;
}
.top:nth-child(23) {
  animation-delay: 4.4s;
}
.top:nth-child(24) {
  animation-delay: 4.6s;
}
.top:nth-child(25) {
  animation-delay: 4.8s;
}
.top:nth-child(26) {
  animation-delay: 5s;
}

.phone-up,
.tablet-landscape-up {
  display: none;
}

// Animation
@keyframes particles {
  0% {
    transform: translateY(0%);
  }

  50% {
    opacity: 0.5;
    // background-color: rgb(241, 118, 110);
  }
  100% {
    transform: translateY(-5000%);
    opacity: 0;
  }
}

@keyframes particles_reverse {
  0% {
    transform: translateY(0%);
  }

  50% {
    opacity: 0.5;
    // background-color: rgb(241, 118, 110);
  }
  100% {
    transform: translateY(5000%);
    opacity: 0;
  }
}

@keyframes hoverMe__fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// media queries
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@include for-tablet-portrait-up {
  .phone-up {
    display: block;
  }
}

@include for-tablet-landscape-up {
  .tablet-landscape-up {
    display: block;
  }

  p {
    text-transform: uppercase;
  }

  p.hoverMe {
    animation: hoverMe__fadeIn 4s 2s forwards;
  }

  .centerpiece__container {
    display: grid;
    margin: auto;
    place-items: center;
  }

  .centerpiece__container > * {
    opacity: 0;
    transition: 0.4s all;
  }

  .centerpiece__container:hover > * {
    opacity: 1;
  }

  .centerpiece__item {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    // border: solid 1px #fff;
  }

  .color-options__container,
  .motion-options__container {
    margin-bottom: 1rem;
  }
  // .motion-options__container {
  //   width: 100%;
  // }

  .color-option {
    display: grid;
    place-items: center;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    border: solid 1px #ffffff00;
    transition: 0.4s all;
    &:hover {
      cursor: pointer;
      border-color: #fff;
    }
  }
  .color-option__1 {
    background-image: radial-gradient(
      circle,
      #ad2234,
      #e73131,
      #731b2d,
      #3b141e
    );
  }
  .color-option__2 {
    // background-image: radial-gradient(
    //   circle,
    //   #664beb,
    //   #5339c9,
    //   #4028a7,
    //   #2c1888,
    //   #180769
    // );
    background-image: radial-gradient(
      circle,
      #0239fd,
      #0072ff,
      #0097ff,
      #00b4fd,
      #0ccce9
    );
  }
  .color-option__3 {
    background-image: radial-gradient(
      circle,
      #00ff85,
      #00c169,
      #00864c,
      #00502e,
      #011f11
    );
  }
  .selected {
    border: solid 1px #fff;
  }
}
